body {
  background-color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 97vh;
  grid-template-areas:
    "box1 box1 box1 box1"
    "box2 box3 box3 box3"
    "box2 box4 box5 box6"
    "box2 box7 box7 box7";
  gap: 0.2rem;
}

.item {
  border-radius: 10px;
}

.box1 {
  background-color: violet;
  grid-area: box1;
  min-height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box2 {
  background-color: indigo;
  grid-area: box2;
  min-height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: azure;
}

.box3 {
  background-color: blue;
  grid-area: box3;
  height: 630px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box4 {
  background-color: green;
  grid-area: box4;
  height: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box5 {
  background-color: yellow;
  grid-area: box5;
  height: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box6 {
  background-color: orange;
  grid-area: box6;
  height: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box6 img{
  max-width: 300px;
}

.box7 {
  background-color: red;
  grid-area: box7;
  height: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box7 img {
  max-width: 300px;
}


@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7";
  }

  body {
    margin: 0; /* reset the margin */
    padding: 8px; /* apply padding same as margin */
    box-sizing: border-box;
}
.item {
    overflow: hidden; /* used to hide content once translated */
}

}
