body {
    background-color: chartreuse;
  }
  
  .main-container {
    display: grid;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 97vh;
    grid-template-areas:
      "box1 box1 box1 box1"
      "box2 box3 box3 box3"
      "box2 box4 box5 box6"
      "box2 box7 box7 box7";
    gap: 0.2rem;
  }
  
  .item{
      border-radius: 10px;
  }
  
  
  .box1 {
    background-color: violet;
    grid-area: item-1;
    min-height: 50px;
  }
  
  .box2 {
    background-color: indigo;
    grid-area: item-2;
    min-height: 50px;

  }
  
  .box3 {
    background-color: blue;
    grid-area: item-3;
    height: 610px;
  }
  
  .box4 {
    background-color: green;
    grid-area: item-4;
    height: 700px;

  }
  
  .box5 {
    background-color: yellow;
    grid-area: item-5;
    height: 700px;
  }
  
  .box6 {
    background-color: orange;
    grid-area: item-6;
    height: 700px;
  }
  
  .box7 {
    background-color: red;
    grid-area: item-7;
    height: 700px;
  }
  
  @media screen and (max-width: 500px) {
    .main-container {
      grid-template-columns: 1fr;
      grid-template-rows : 0.4fr 0.4fr 1.8fr 1fr 1fr 1fr 0.5fr ;
      grid-template-areas : 
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7"
    }
  }
  